@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Math&display=swap');

body {
    margin: 0;
    font-family: 'Georgia', sans-serif;
    background-image: url("images/background.jpg");
    background-size: cover; 
    color: white;
}

h1, h2 {
    display:inline-block;
    vertical-align: middle;
    margin: 0;
}

h2 {
    margin: 2%, 1%;
    padding: 1rem;
    background-color: rgb(18, 26, 117);

}



#nav-bar {
    position: relative;
    vertical-align: middle;
    margin-top: 0px;
    padding: 1rem;
    background-color: #207ec1;
}

#nav-bar-buttons {
    float: right;
    width: fit-content;
    text-align: center;
    vertical-align: middle;
}

#nav-bar-buttons a {
    display: inline-block;
    text-align: center;
    width: auto;
    background-color: rgb(18, 26, 117);
    padding: 0.5rem;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

#list_section a {
    background-color: #5c73a9;;
    width: auto;
    display: block;
    padding: 1rem;
    margin: 1% 1%;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

#list_section {
    margin: 3% 1% 5% 1%;
    background-color:rgb(43, 43, 44) ;
}

#list_section p {
    background-color: #5c73a9;;
    width: auto;
    display: block;
    padding: 1rem;
    margin: 1% 1%;
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

#start_section {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin: 1% 1%;
    background-color:rgb(43, 43, 44);
}

#trending_topics {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 1% 1%;
    background-color:rgb(43, 43, 44) ;
} 

#information-box {
    background-color: black;
    outline-style: solid;
    outline-color: white;
    margin-top: 1rem;
    padding: 1rem;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}