{% extends 'base.html' %}

{% block content %}
<div id="information-box">
    <h2>ABOUT THE INVESTIGATION</h2>
    <p> Hello! </p>
    <br>
    <p>
        You've arrived at DerelictDiscussion.com! This is a forum page for guides, questions, and general discussion
        surrounding Derelict (2003), a fixed-perspective space shuttle flight simulator.
        <br>
        <br>
        Derelict is a game mired in mystery, from its confusing gameplay mechanics to its complete lack of an internal
        tutorial. The most mysterious thing about Derelict, however, is its origin which, to this day, remains unsolved
        (for more information on Derelict's origin, click the Origin tab).
        <br>
        <br>
        To this day, no one is quite sure how to beat Derelict (2003). Enter at your own risk! Read what other forum
        users have discovered, and try Derelict for yourself. Perhaps, you'll have better luck than we have.
    </p>
</div>
{% endblock %}