{% extends 'base.html' %}

{% block content %}
    <div id="information-box">
        <h2>HOME</h2>
        <a href="">1 users online</a>
        <br>
        <br>
        <p>Welcome to The Investigation of Derelict.</p>
        <br>
        <p>To learn more about what Derelict is, click the About tab.</p>
        <p>To contribute to our findings, click either the Gameplay or Speculation tabs.</p>
        <p>To download the game to play it for yourself, <a href="">click here.</a></p>
    </div>
    
{% endblock %}