{% extends 'base.html' %}

{% block content %}
<div id="information-box">
    <h2>ORIGIN</h2>
    <p>
        On December 9th, 2003, user ThriceGreat uploaded posted the following on the "Free Downloads" page of
        www.gamefaqs.com:
        <br>
        <i>Hello. I have recently been gifted a copy of Ergo Games' newest release, Derelict. Even though it came out just
        two months ago, I haven't seen anyone talking about it, so I thought I would send it here just to get the word
        out. It's a great game with lots of little secrets. Enjoy :)</i>
        <br>
        The post went mostly unnoticed for several weeks, but by the time forum users began downloading the game and
        playing it, ThriceGreat had deactivated their account, and the post was soon deleted for inactivity. However,
        Pandora's box had already been opened. Derelict was out, and dedicated forum users were already obsessing over
        what it was, where it had come from, and how to beat Ergo Games' "newest release."
        <br>
        Once players began encountering their first difficulties with navigating the game and its confusing scheme of
        mechanics, they turned their attention to its developers, tried to get in contact with them, find official
        tutorials, and get some clarity about how Derelict (2003) was actually intended to be played.
        <br>
        What they discovered next was a shock to the entire forum.
        <br>
        Ergo Games does not exist.
        <br>
        Additionally, among its list of credited developers, including "Design Lead Seth Braddock" and "Head Programmer
        Eric Filtrum," not a single name can be reliably attributed to any human being having been alive, on record, for
        the past century.
        <br>
        So, where did Derelict (2003) come from? Did the user known as ThriceGreat design an entire video game from
        scratch, market it under a slew of pseudonyms, and discreetly release it in the form of a forum post? Did
        somebody wipe all evidence of Ergo Games from the public and private record? Did Derelict (2003) drop from a
        wormhole out of an alternate dimension where two men known as "Seth Braddock" and "Eric Filtrum" worked together
        to create a video game that never took off?
        <br>
        The answer, of course, is a total mystery, but this hasn't stopped users from speculating. To read more, click
        the Speculation tab, a dedicated space for players to discuss Derelict's mysterious origins.
    </p>
</div>
{% endblock %}